[Unit]
Description=medscan
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/dev/medscan/
ExecStart=/home/admin/dev/medscan/start.sh

[Install]
WantedBy=multi-user.target
