[Unit]
Description=medscan
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
ExecStart=/home/admin/miniconda3/envs/medscan/bin/python /home/admin/dev/medscan/wsgi.py

[Install]
WantedBy=multi-user.target
