<!DOCTYPE html>
<link rel="stylesheet" href="/css/style.css" />

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>testbench</title>
</head>

<body>
    <h2>testbench</h2>
    <p>.png/.jpg</p>

    <form action="/upload" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>

        <select name="doc_type">
            <option value="discharge">vypiska</option>
            <option value="snils">snils</option>
            <option value="insurance">strahovka</option>
        </select>
    </form>
    {% if text %}
    {% autoescape false %}
    <p>{{text}}</p>
    {% endautoescape %}
    {% endif %}
</body>

</html>



